<div class="tag-bar">
  <div class="tags-list">
    <%= link_to "fabrication", tagged_path(tag: "Fabrication") %>
    <br>
    <%= link_to "photographie", tagged_path(tag: "Photographie") %>
    <br>
    <%= link_to "graphisme", tagged_path(tag: "Graphisme") %>
    <br>
    <%= link_to "développement", tagged_path(tag: "Developpement") %>
    <br>
    <%= link_to "environnement", tagged_path(tag: "Environnement") %>
  </div>
</div>
