<% @posts.each do |p| %>
  <h2><%= p.title %><%= p.tag_list %> </h2>
  <p>
    <% p.tag_list.each do |tag| %>
      <%= link_to tag, tagged_path(tag: tag) %>
    <% end %>
  </p>
<% end %>

<%= link_to "fabrication", tagged_path(tag: "fabrication") %>
<br>
<%= link_to "photographie", tagged_path(tag: "photographie") %>
<br>
<%= link_to "graphisme", tagged_path(tag: "graphisme") %>
<br>
<%= link_to "développement", tagged_path(tag: "developpement") %>
<br>
<%= link_to "environnement", tagged_path(tag: "environnement") %>
