<div class="container-8">
  <div class="g-1-5 show_pics">
    <% @post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, width: "100%", class: "img-show" %>
    <% end %>
  </div>
  <div class="g-5-9 show-fix">
    <h1><%= @post.title %></h1>
    <% if @post.source %>
      <h3>Description</h3>
      <p><%= @post.description %></p>
    <% end %>
    <% if @post.source %>
      <h3>Source</h3>
      <%= link_to @post.source do %>
        <p><%= @post.source %></p>
      <% end %>
    <% end %>
  </div>
</div>
